### Build files ###
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Uploaded images ###
/src/main/webapp/resources/images/original/
/src/main/webapp/resources/images/resampled/

### Uploaded graphs ###
/src/main/webapp/resources/graphs/uploaded/

### Hibernate Search index files ###
var/